.DS_Store

### Terraform ###
# Local .terraform directories
**/.terraform/*

# Lock file
**/.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*
*.terragrunt*
*04-terragrunt/aws/test/backend.tf
*04-terragrunt/provider.tf
