.DS_Store
.vscode/
*.claude
*.agents

NOTES.md

### Terraform ###
# Local .terraform directories
**/.terraform/*

# Lock file
**/.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*
*.terragrunt*
*backend.tf
*provider.tf
